[Unit]
Description=Run Dashboard Cache Update every 2 minutes

[Timer]
OnBootSec=30
OnUnitActiveSec=2min
AccuracySec=30s

[Install]
WantedBy=timers.target
